form {
  padding: 5px;
  background-color: lightblue;
}

.form-title {
  font-size: 24px;
}

.form-group label {
  margin-top: 0;
  font-size: 0.9rem;
  color: darkblue;
}

// .form-group input {
//   font-weight: bolder;
//   margin-top: 0;
//   color: black;
// }

.form-control {
  font-weight: bolder;
  background: white;
  color: darkblue;
}

.form-control:disabled {
  background: white;
  color: darkgrey;
}

.form-control.ng-touched.ng-invalid {
  background-color: lightpink;
  border: 2px solid #dc6545;
  color: #dc6545;
}

// .form-control.ng-touched.ng-valid {
//   background-color: lightgreen;
//   border-color: green;
//   color: green;
// }

// .form-control.ng-touched {
//   background-color: lightpink;
//   border-color: #dc6545;
//   color: #dc6545;
// }

button[type="submit"] {
  background-color: #77bb29;
  color: #fff;
}

button[disabled] {
  background-color: rgb(199, 193, 193);
  color: rgb(131, 126, 126);
}

input[type="submit"] {
  background-color: #77bb29;
  color: #fff;
}

input[disabled] {
  background-color: rgb(199, 193, 193);
  color: rgb(131, 126, 126);
}

.form-filled {
  padding: 5px;
  background-color: lightblue;
}

.form-filled-label {
  font-size: 0.8rem;
  color: blue;
}

.form-filled-value {
  font-size: 0.8rem;
  color: black;
}
.form-filled-box {
  background-color: white;
}
