<app-header [currentUser]="currentUser" [showMenus]="showMenus"
            [alertMessage]="alertMessage"></app-header>


<section class="page" *ngIf="!alertMessage.alertShow">


  <h1 class="form-title text-left">
    Perfil del usuario
  </h1>


  <div class="row" *ngIf="componentData">
    <div class="col-lg-4 col-md-12">

      <section class="card">
        <app-profile-detail-reactive [componentData]="componentData">
        </app-profile-detail-reactive>
      </section>

    </div>


    <div class="col-lg-8 col-md-12 ">
      <app-profile-list (onComponentData)="onComponentData($event)">
      </app-profile-list>
    </div>
  </div>

</section>