<ng-container >
  <nav class="navbar navbar-expand-md ">
    <!-- <a class="navbar-brand" href="#">Expand at md</a> -->
    <app-header-brand></app-header-brand>
    <app-header-section-name [title]="'Inicio'" ></app-header-section-name>

    <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
    <button class="navbar-toggler text-white" type="button"
            (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>


    <div [ngbCollapse]="isMenuCollapsed" class="nav-item collapse navbar-collapse">
      <ul class="navbar-nav">
        <li [ngbCollapse]="isMenuCollapsed" class="nav-item collapse navbar-collapse">
          <app-header-section-name>
          </app-header-section-name> 
        </li>

        <li [ngbCollapse]="isMenuCollapsed" class="nav-item collapse navbar-collapse" *ngIf="showMenuLogin">
           <app-header-menu-login>
          </app-header-menu-login>
        </li>

        <li [ngbCollapse]="isMenuCollapsed" class="nav-item collapse navbar-collapse" *ngIf="showMenuSections">
          <app-header-menu-sections>
         </app-header-menu-sections>
       </li>
      </ul>
    </div>

    <div>
      <ul class="navbar-nav mr-2">
      
        <li [ngbCollapse]="isMenuCollapsed" class="nav-item collapse navbar-collapse">
          <app-header-user [currentUserName]="currentUserName" [showMenuLogin]="showMenuLogin">
          </app-header-user>
        </li>

        <li [ngbCollapse]="!isMenuCollapsed" class="nav-item collapse navbar-collapse">
          <app-header-connection >
          </app-header-connection>
       </li>

       <!-- <li [ngbCollapse]="!isMenuCollapsed" class="nav-item collapse navbar-collapse">
        <app-header-time>
        </app-header-time>
      </li> -->

      </ul>
    </div>

  </nav>
</ng-container>