<app-header [currentUser]="currentUser" [showMenus]="showMenus"
            [alertMessage]="alertMessage"></app-header>


<section class="container" *ngIf="!alertMessage.alertShow">


  <h1 class="form-title text-left">
    Perfil de {{componentData.username}}
  </h1>


  <div class="row" *ngIf="componentData">
    <div class="col-lg-4 col-md-12">

      <section class="card">
        <app-profile-detail [componentData]="componentData">
        </app-profile-detail>
      </section>

    </div>


    <div class="container-fluid col-lg-8 col-md-12 ">
      <app-profile-card [componentData]="componentData"></app-profile-card>
    </div>
  </div>

</section>