<form>

  <!-- firstName -->
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input required minlength="3" maxlength="10" pattern="banana"
           [(ngModel)]="test.firstName" name="firstName" #firstName="ngModel"
           id="firstName" type="text" class="form-control"
           (change)="log(firstName)" [ngModelOptions]="{standalone: true}">
    <!-- validation -->
    <div class="alert alert-danger"
         *ngIf="!firstName.valid && firstName.touched">
      <div *ngIf="firstName.errors.required">
        First name is required
      </div>
      <div *ngIf="firstName.errors.minlength">
        Minimum length is {{ firstName.errors.minlength.requiredLength | json}}
        characters
      </div>
      <div *ngIf="firstName.errors.maxlength">
        Maximum length is 3 characters
      </div>
      <div *ngIf="firstName.errors.pattern">
        Valid value is "banana"
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea [(ngModel)]="test.comment" name="comment" #comment="ngModel"
              id="comment" type="text" class="form-control"></textarea>
  </div>

  <button class="btn btn-primary">Ok</button>
</form>