<div>

  <div class="form-group row form-filled-box ml-1 mr-1">
    <p
       class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xm-12 form-filled-label mb-0">
      Id
    </p>
    <p
       class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xm-12 form-filled-value mb-0">
      {{componentData.id}}
    </p>
  </div>

  <div class="form-group row form-filled-box ml-1 mr-1">
    <p
       class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xm-12 form-filled-label mb-0">
      Nombre</p>
    <p
       class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xm-12 form-filled-value mb-0">
      {{componentData.firstname}}</p>
  </div>

  <div class="form-group row form-filled-box ml-1 mr-1">
    <p
       class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xm-12 form-filled-label mb-0">
      Apellido</p>
    <p
       class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xm-12 form-filled-value mb-0">
      {{componentData.lastname}}</p>
  </div>

  <div class="form-group row form-filled-box ml-1 mr-1">
    <p
       class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xm-12 form-filled-label mb-0">
      Perfil</p>
    <p
       class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xm-12 form-filled-value mb-0">
      {{componentData.profile}}</p>
  </div>

  <div class="form-group row form-filled-box ml-1 mr-1">
    <p
       class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xm-12 form-filled-label mb-0">
      Realm</p>
    <p
       class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xm-12 form-filled-value mb-0">
      {{componentData.realm}}</p>
  </div>

  <div class="form-group row form-filled-box ml-1 mr-1">
    <p
       class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xm-12 form-filled-label mb-0">
      Usuario</p>
    <p
       class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xm-12 form-filled-value mb-0">
      {{componentData.username}}</p>
  </div>

  <div class="form-group row form-filled-box ml-1 mr-1">
    <p
       class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xm-12 form-filled-label mb-0">
      Contraseña</p>
    <p
       class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xm-12 form-filled-value mb-0">
      ****</p>
  </div>

  <div class="form-group row form-filled-box ml-1 mr-1">
    <p
       class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xm-12 form-filled-label mb-0">
      email</p>
    <p
       class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xm-12 form-filled-value mb-0">
      {{componentData.email}}</p>
  </div>

  <div class="form-group row form-filled-box ml-1 mr-1">
    <p
       class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xm-12 form-filled-label mb-0">
      Verificación</p>
    <p
       class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xm-12 form-filled-value mb-0">
      {{componentData.emailVerified}}
    </p>
  </div>

  <div class="form-group row form-filled-box ml-1 mr-1">
    <p
       class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xm-12 form-filled-label mb-0">
      Token</p>
    <p
       class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xm-12 form-filled-value mb-0">
      {{componentData.verificationToken}}</p>
  </div>

  <div class="form-group row form-filled-box ml-1 mr-1">
    <p
       class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xm-12 form-filled-label mb-0">
      Miembro</p>
    <p
       class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xm-12 form-filled-value mb-0">
      {{componentData.memberId}}</p>
  </div>

  <div class="form-group row form-filled-box ml-1 mr-1">
    <p
       class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xm-12 form-filled-label mb-0">
      Cédula</p>
    <p
       class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xm-12 form-filled-value mb-0">
      {{componentData.user_legal_id}}
    </p>
  </div>

  <div class="form-group row form-filled-box ml-1 mr-1">
    <p
       class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xm-12 form-filled-label mb-0">
      No empleado</p>
    <p
       class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xm-12 form-filled-value mb-0">
      {{componentData.user_internal_id}}
    </p>
  </div>

  <div class="form-group row form-filled-box ml-1 mr-1">
    <p
       class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xm-12 form-filled-label mb-0">
      Lugar de foto</p>
    <p
       class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xm-12 form-filled-value mb-0">
      {{componentData.user_photo_path}}
    </p>
  </div>


</div>